.header{
    display: flex;
    align-items: center;
    padding: 70px 0 10px 0;
    
}
.header__column{
    width:50%;
}
.header__column h1{
    font-size:20px;
    font-weight: 600;
}
.header__column:last-child{
    display: flex;
    justify-content: flex-end;
}
.header__column span{
    margin-left:20px;
    background-color: var(--super-grey);
    width:38px;
    height:38px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__column span i{
    font-size: 22px;
}