.nav{
    position:fixed;
    top:0;
    width:100%;
    box-sizing: border-box;
    z-index: 9;
    padding: 0px 10px 15px 10px;
    border-bottom:1px solid var(--light-grey);
    background-color: white;
}
.nav__list{
    display: flex;
    justify-content: space-between;
    margin-top:20px;
}
.nav__list a{
    color:var(--dark-grey);
}
.nav__list i{
    font-size: 23px;
}