#only-mobile {
    position:absolute;
    z-index:99;
    height: 1000vh;
    width:100vw;
    background-color: var(--blue);
    display:flex;
    top:0;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 600;
}
#only-mobile span{
    position:absolute;
    top:300px;
}
@media screen and (max-width:500px){
    #only-mobile{
        display: none;
    }
}