/*components*/
@import "component/header.css";
@import "component/nav.css";
@import "component/story.css";
@import "component/content.css";
@import "component/only-mobile.css";
@import "component/inform-bar.css";
@import "component/user-profile.css";
@import "component/semi-manu.css";
@import "component/alert-component.css";

/*screens*/
@import "screen/first.css";
@import "screen/friend.css";
@import "screen/vedio.css";
@import "screen/group.css";
@import "screen/alert.css";
@import "screen/manu.css";

@import "reset.css";
@import "variables.css";

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height:1000vh;
}
input{
    outline:none;
}
.side-space-screen{
    padding-left: 10px;
    padding-right:10px;
}
@keyframes fadein{
    from{
        transform: translateY(30px);
        opacity:0;
    }
    to{
        transform: none;
        opacity:1;
    }
}
.content,
.freind-request,
.friend-recommand,
.article{
    animation:fadein 1s linear;
}
.alert-main{
    animation:fadein 0.7s linear;
}

@keyframes iconMoving{
    0%{
        transform:none;
    }
    50%{
        transform: scale(1.3,1.3);
        color:dodgerblue;
    }
    100%{
        transform:none;
    }
}
i:hover{
    animation: iconMoving 3s ease-in-out;
}